      pre.syntax-highlight {
        padding: .5em 1em;
        font-family: monospace; font-size: 1.1em
        line-height:1;
        border:1px solid #BEBEBE;
        background-color: #EEE;
      }
      .synSpecial { color: #c000c0; }
      .synType { color: #008000; }
      .synComment { color: #0000c0; }
      .synPreProc { color: #c000c0; }
      .synIdentifier { color: #008080; }
      .synConstant { color: #c00000; }
      .synStatement { color: #804000; }

pre {
  padding: 1ex 1ex 1ex 1ex;
  border: 4px groove #CC0000;
  overflow-x: auto;
}

pre span.attribute { color: #009900; }
pre span.char { color: #F00; }
pre span.class { color: #A020F0; font-weight: bold; }
pre span.comment { color: #0000FF; }
pre span.constant { color: #008B8B; }
pre span.escape { color: #6A5ACD; }
pre span.expr { color: #2222CC; }
pre span.global { color: #11AA44; }
pre span.ident { color: #000000; }
pre span.keyword { color: #A52A2A; font-weight: bold; }
pre span.method { color: #008B8B; }
pre span.module { color: #A020F0; font-weight: bold; }
pre span.number { color: #DD00DD; }
pre span.punct { color: #6A5ACD; }
pre span.regex { color: #DD00DD; }
pre span.string { color: #DD00DD; }
pre span.symbol { color: #008B8B; }

ins.added {
	font-weight: bold;
}

del.deleted {
	text-decoration: line-through;
}

form.update textarea.keyword {
        width: 15em;
        height: 3em;
}

/* 02help */
div.helptlbr {
	font-size: small;
	padding: 1px;
}

span.helpbttn {
	border-style: solid;
	border-width: 0px 0px 1px 0px;
}

@media print{
  div.adminmenu{
    display: none;
  }
  div.main{
    margin-left: 0;
  }
  div.sidebar{
    display: none;
  }
}
